# The Day 1 of Data Challange (.describe)
I will try to explain every step I make.

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# The task was to use .describe 
data = pd.read_csv('../input/degrees-that-pay-back.csv')
#Actual Task
data.describe()

In [ ]:
data.head()

There is clearly a problem. We can see that most columns are numeric and the fact that we didn't get statistics should be due to wrong format of other columns.

In [ ]:
#Exploring Columns
print(data.info())

Some numeric columns are not floats or integers. I should change their type for further analysis.
At first I tried:
*data['Starting Median Salary'].astype('float')*
AND  I run into trouble =) **ValueError: could not convert string to float:'$34,000.00'**. 

I should somewhow get rid of '$', ','  and  '.' . 

I went to DataCamp and found the right lesson. I used solution from there.

In [ ]:
import re
#pattern = re.compile('\$\d{2}\,\d{3}\.\d{2}')
#result = pattern.match('$10,000.00')
#print(bool(result))

As you can see above my regular expression fits only  '40.000.00' but not '400.000.00' and not '4.000.00'. So I went to Plurasight and asked for Tutor help and Gaurav Singhal helped me to write correct expression for current data that would fit every number.' 
Thanks to Gaurav =)

In [ ]:
pattern = re.compile(r'\$\d{1,5}[\.\,]\d{2,5}\.\d{2}|\d{2,3}\.\d{1,2}')
result = pattern.match('$400,000.00')
print(bool(result))

Now we need to define a function and add the right column. Again I used solution from DataCamp.

In [ ]:
def dollar(row, pattern):
    sms = row['Mid-Career Median Salary']
    
    if bool(pattern.match(sms)):
            sms = sms.replace('$', '')
            sms = sms.replace('.00', '')
            sms = sms.replace(',', '')
            sms = int(sms)
            
    return sms
data['Mid Median'] = data.apply(dollar, axis=1, pattern=pattern)

I guess I made it the strange way with all of thoose 'replace', but it worked. 

# However, what I didn't yet make to work is to apply this fuction to all the columns at a time and then result it in a new dataset. Can someone help with that?

In [ ]:
data.info()

# The Day 2 of Data Challange ( hist())

Our second day task is to plot a histogramm. I have at least one numeric column which I made with my last function. So that should not be a problem.

Thanks to **h4pZ** from Twitch for edgecolors and helping with the size of hist  =)

In [ ]:
%matplotlib inline 
import matplotlib.pyplot as plt
fig = plt.figure(figsize=(15 , 8))
hist = data['Percent change from Starting to Mid-Career Salary']

# Histogram
plt.hist(hist, bins=7, color='grey', edgecolor='white')
#Customizations
plt.xlabel('Salaries % change distribution')
plt.ylabel('Most frequent %')
plt.title('Salaries increase [in %] from Starting to Mid-Carreer')
plt.xticks([20,30,40,50,60,70,80,90,100], ['20%','30%','40%','50%', '60%', '70%','80%','90%','100%'])
plt.axvspan(51, 87, color='green', alpha=0.4)
plt.axvspan(69, 69.274000, color='red', alpha=1)


# Show and clear plot
plt.show()
plt.clf()

Not the best histogramm but still now we know that 60 to 70 percent change in salaries is the most frequent. Which is a little surprising =)

**Green zone is data within standart deviation from the mean.** + redline is the mean. That trick i got from [here](https://stackoverflow.com/questions/8270981/in-a-matplotlib-plot-can-i-highlight-specific-x-value-ranges) .

**Would be glad answer to any questions**

My day 3 kernel is [ here](https://www.kaggle.com/poloniki/5-day-data-challenge-day-3-failed/).